.fullPage {
    min-height: 1vh;
}

.italic {
    font-style: italic;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.flexRow {
    display: flex;
    flex-direction: row;
}

.w50 {
    width: 50%;
}

.w100 {
    width: 100%;
}

.m10Md {
    margin: 0;
}

@media (min-width: 768px) {
    .m10Md {
        margin: 0 10% 0 10%;
        border-radius: 2em;
        height: 600px;
    }
}

.lgFlexChange {
    flex-direction: column;
}

@media (min-width: 1200px) {
    .lgFlexChange {
        flex-direction: row;
    }
}

.backgroundPrimary {
    background-color: var(--backgroundPrimary);
}

.backgroundSecondary {
    background-color: var(--backgroundSecondary);
}

.backgroundThird {
    background-color: var(--backgroundThird);
}

.categoryCard {
    width: 250px;
    border: solid 2px white;
}


.imagesize {
    height: "600px";
    position: "relative";
}

.link {
    color: cornflowerblue;
    text-decoration: underline;
}